In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2022-01-29 22:00:04,-33.9258,18.4232,68.11,70,0,5.01
1,1,Pochutla,MX,2022-01-29 22:00:08,15.7432,-96.4661,85.82,48,2,8.12
2,2,George Town,MY,2022-01-29 22:00:09,5.4112,100.3354,81.90,83,20,0.00
3,3,Vila Velha,BR,2022-01-29 22:00:10,-20.3297,-40.2925,79.95,87,93,11.01
4,4,Busselton,AU,2022-01-29 21:52:53,-33.6500,115.3333,67.05,91,7,13.53

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [28]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Pochutla,MX,2022-01-29 22:00:08,15.7432,-96.4661,85.82,48,2,8.12
2,2,George Town,MY,2022-01-29 22:00:09,5.4112,100.3354,81.90,83,20,0.00
3,3,Vila Velha,BR,2022-01-29 22:00:10,-20.3297,-40.2925,79.95,87,93,11.01
6,6,Vaini,TO,2022-01-29 21:55:19,-21.2000,-175.2000,81.48,78,100,15.75
7,7,Rikitea,PF,2022-01-29 21:51:37,-23.1203,-134.9692,77.23,72,100,10.40
8,8,Mahebourg,MU,2022-01-29 21:55:18,-20.4081,57.7000,79.09,83,20,5.75
10,10,Kapaa,US,2022-01-29 21:48:04,22.0752,-159.3190,80.58,70,20,3.00
12,12,Port Keats,AU,2022-01-29 22:00:15,-14.2500,129.5500,80.87,85,100,18.95
14,14,Alyangula,AU,2022-01-29 22:00:17,-13.8483,136.4192,82.45,78,100,17.67
15,15,Acapulco,MX,2022-01-29 21:58:24,16.8634,-99.8901,84.88,59,9,11.52

In [29]:
preferred_cities_df.count()

City_ID       194
City          194
Country       191
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [30]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Pochutla,MX,2022-01-29 22:00:08,15.7432,-96.4661,85.82,48,2,8.12
2,2,George Town,MY,2022-01-29 22:00:09,5.4112,100.3354,81.90,83,20,0.00
3,3,Vila Velha,BR,2022-01-29 22:00:10,-20.3297,-40.2925,79.95,87,93,11.01
6,6,Vaini,TO,2022-01-29 21:55:19,-21.2000,-175.2000,81.48,78,100,15.75
7,7,Rikitea,PF,2022-01-29 21:51:37,-23.1203,-134.9692,77.23,72,100,10.40
...,...,...,...,...,...,...,...,...,...,...
564,564,Santiago,CL,2022-01-29 22:02:18,-33.4569,-70.6483,80.29,43,0,18.41
568,568,Grand-Santi,GF,2022-01-29 22:05:46,4.2500,-54.3833,74.73,87,50,3.60
569,569,Nioro,GM,2022-01-29 22:05:46,13.3500,-15.7500,80.82,24,91,7.09
570,570,Tshela,CD,2022-01-29 22:05:47,-4.9833,12.9333,73.17,98,98,2.04
577,577,Orapa,BW,2022-01-29 22:05:50,-21.2833,25.3667,72.97,74,61,17.27

In [31]:
preferred_cities_df.count()

City_ID       194
City          194
Country       191
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1      Pochutla      MX     85.82  15.7432  -96.4661
2   George Town      MY     81.90   5.4112  100.3354
3    Vila Velha      BR     79.95 -20.3297  -40.2925
6         Vaini      TO     81.48 -21.2000 -175.2000
7       Rikitea      PF     77.23 -23.1203 -134.9692
8     Mahebourg      MU     79.09 -20.4081   57.7000
10        Kapaa      US     80.58  22.0752 -159.3190
12   Port Keats      AU     80.87 -14.2500  129.5500
14    Alyangula      AU     82.45 -13.8483  136.4192
15     Acapulco      MX     84.88  16.8634  -99.8901

In [39]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

          City Country  Max Temp      Lat       Lng                 Hotel Name
1     Pochutla      MX     85.82  15.7432  -96.4661      Hotel Posada San Jose
2  George Town      MY     81.90   5.4112  100.3354             Cititel Penang
3   Vila Velha      BR     79.95 -20.3297  -40.2925  Quality Suites Vila Velha
6        Vaini      TO     81.48 -21.2000 -175.2000        Keleti Beach Resort
7      Rikitea      PF     77.23 -23.1203 -134.9692            People ThankYou

In [41]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))