## Deliverable 2. Create a Customer Travel Destinations Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [10]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Description
0,0,Kapaa,US,22.0752,-159.3190,66.18,78,20,4.61,few clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,66.31,52,75,35.68,broken clouds
2,2,Ust-Tsilma,RU,65.4410,52.1498,-9.33,100,46,3.69,scattered clouds
3,3,Camacha,PT,33.0833,-16.3333,66.52,72,20,20.71,few clouds
4,4,Maceio,BR,-9.6658,-35.7353,90.84,40,40,13.80,scattered clouds

In [11]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 80

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_city_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_city_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Description
0,0,Kapaa,US,22.0752,-159.3190,66.18,78,20,4.61,few clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,66.31,52,75,35.68,broken clouds
3,3,Camacha,PT,33.0833,-16.3333,66.52,72,20,20.71,few clouds
5,5,Lubango,AO,-14.9172,13.4925,69.13,39,96,10.80,overcast clouds
7,7,Busselton,AU,-33.6500,115.3333,68.04,70,0,2.57,clear sky
12,12,Airai,TL,-8.9266,125.4092,60.57,92,82,2.06,broken clouds
14,14,Ushuaia,AR,-54.8000,-68.3000,60.46,41,40,8.05,scattered clouds
15,15,Rikitea,PF,-23.1203,-134.9692,78.62,73,53,12.82,broken clouds
16,16,New Norfolk,AU,-42.7826,147.0587,59.67,62,100,0.83,overcast clouds
20,20,Okakarara,NaN,-20.5833,17.4333,71.35,73,87,7.20,light rain

In [15]:
# 4a. Determine if there are any empty rows.
preferred_city_df.count()

City_ID             262
City                262
Country             258
Lat                 262
Lng                 262
Max Temp            262
Humidity            262
Cloudiness          262
Wind Speed          262
City Description    262
dtype: int64

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_city_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Description
0,0,Kapaa,US,22.0752,-159.3190,66.18,78,20,4.61,few clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,66.31,52,75,35.68,broken clouds
3,3,Camacha,PT,33.0833,-16.3333,66.52,72,20,20.71,few clouds
5,5,Lubango,AO,-14.9172,13.4925,69.13,39,96,10.80,overcast clouds
7,7,Busselton,AU,-33.6500,115.3333,68.04,70,0,2.57,clear sky
...,...,...,...,...,...,...,...,...,...,...
660,660,Nago,JP,26.5881,127.9761,59.07,65,100,13.87,overcast clouds
663,663,Bhilwara,IN,25.3500,74.6333,58.95,29,0,5.08,clear sky
664,664,Nakhon Phanom,TH,17.3333,104.4167,59.92,73,75,4.85,broken clouds
667,667,Moca,DO,19.5000,-70.5000,72.59,72,75,6.91,broken clouds
670,670,Pathalgaon,IN,22.5667,83.4667,55.92,28,0,3.33,clear sky

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_city_df[["City", "Country", "Max Temp", "City Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,Kapaa,US,66.18,few clouds,22.0752,-159.3190,
1,Punta Arenas,CL,66.31,broken clouds,-53.1500,-70.9167,
3,Camacha,PT,66.52,few clouds,33.0833,-16.3333,
5,Lubango,AO,69.13,overcast clouds,-14.9172,13.4925,
7,Busselton,AU,68.04,clear sky,-33.6500,115.3333,
12,Airai,TL,60.57,broken clouds,-8.9266,125.4092,
14,Ushuaia,AR,60.46,scattered clouds,-54.8000,-68.3000,
15,Rikitea,PF,78.62,broken clouds,-23.1203,-134.9692,
16,New Norfolk,AU,59.67,overcast clouds,-42.7826,147.0587,
20,Okakarara,NaN,71.35,light rain,-20.5833,17.4333,

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head()

,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,Kapaa,US,66.18,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,Punta Arenas,CL,66.31,broken clouds,-53.1500,-70.9167,Hotel Hain
3,Camacha,PT,66.52,few clouds,33.0833,-16.3333,Hotel Porto Santo & Spa
5,Lubango,AO,69.13,overcast clouds,-14.9172,13.4925,Hotel Serra da Chela
7,Busselton,AU,68.04,clear sky,-33.6500,115.3333,Observatory Guest House

In [25]:
hotel_df.count()

City                262
Country             258
Max Temp            262
City Description    262
Lat                 262
Lng                 262
Hotel Name          262
dtype: int64

In [26]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,Kapaa,US,66.18,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,Punta Arenas,CL,66.31,broken clouds,-53.1500,-70.9167,Hotel Hain
3,Camacha,PT,66.52,few clouds,33.0833,-16.3333,Hotel Porto Santo & Spa
5,Lubango,AO,69.13,overcast clouds,-14.9172,13.4925,Hotel Serra da Chela
7,Busselton,AU,68.04,clear sky,-33.6500,115.3333,Observatory Guest House
...,...,...,...,...,...,...,...
660,Nago,JP,59.07,overcast clouds,26.5881,127.9761,Hotel Yugaf Inn Okinawa
663,Bhilwara,IN,58.95,clear sky,25.3500,74.6333,Ranbanka Heritage Resort Bhilwara
664,Nakhon Phanom,TH,59.92,broken clouds,17.3333,104.4167,ป่ายางรีสอร์ท
667,Moca,DO,72.59,broken clouds,19.5000,-70.5000,La Aldea
670,Pathalgaon,IN,55.92,clear sky,22.5667,83.4667,Queens Park Marriage Garden

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>City Description</dt><dd>{City Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]
print(hotel_df)

              City Country  Max Temp City Description      Lat       Lng  \
0            Kapaa      US     66.18       few clouds  22.0752 -159.3190
1     Punta Arenas      CL     66.31    broken clouds -53.1500  -70.9167
3          Camacha      PT     66.52       few clouds  33.0833  -16.3333
5          Lubango      AO     69.13  overcast clouds -14.9172   13.4925
7        Busselton      AU     68.04        clear sky -33.6500  115.3333
..             ...     ...       ...              ...      ...       ...
660           Nago      JP     59.07  overcast clouds  26.5881  127.9761
663       Bhilwara      IN     58.95        clear sky  25.3500   74.6333
664  Nakhon Phanom      TH     59.92    broken clouds  17.3333  104.4167
667           Moca      DO     72.59    broken clouds  19.5000  -70.5000
670     Pathalgaon      IN     55.92        clear sky  22.5667   83.4667

                              Hotel Name
0    Sheraton Kauai Coconut Beach Resort
1                             Hotel Hain
3                Hotel Porto Santo & Spa
5                   Hotel Serra da Chela
7                Observatory Guest House
..                                   ...
660              Hotel Yugaf Inn Okinawa
663    Ranbanka Heritage Resort Bhilwara
664                        ป่ายางรีสอร์ท
667                             La Aldea
670          Queens Park Marriage Garden

[262 rows x 7 columns]

In [36]:
# 11a. Add a marker layer for each city to the map. 
# 11b. Display the figure
locations = hotel_df[["Lat", "Lng"]]
city = hotel_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))